.root {
  display: flex;
  column-gap: 10px;
  li {
    a {
      display: grid;
      place-items: center;
      color: #fe5f1e;
      width: 40px;
      height: 40px;
      padding: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 50%;
      transition: all 150ms ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: #fe5f1e;
        color: white;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: white;
      }
    }
  }
}
